<header>
  <nav>
    <li><a href="/">Home</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">LogIn</a></li>
    <li><a href="/profile">Profile</a></li>
  </nav>
</header>

<style>
  header {
    padding: 2rem;
  }
  nav {
    display: flex;
    justify-content: space-around;
  }
  li {
    list-style: none;
  }
  a {
    color: black;
    text-decoration: none;
  }
</style>
